﻿@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Kendo.Mvc.UI
@using Service.Models
@model Fascicoli
@{
    var utenti = ViewData["slUtenti"];
    var documentiFascicolo = ViewData["slDocumentiFascicolo"];
    var associazioni = ViewData["slAssociazioni"];
}
@using (Html.BeginForm("SaveFascicoli", "Fascicoli", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", method = "post" }))
{
    ViewBag.Title = "Evento";
    <div class="form-horizontal" role="form">
        <div class="modal-body">
            <h2>Modifica fascicolo per l'Evento @ViewData["titolo"]</h2>
            @if (ViewData["Feed"] != null)
            {
                var feedback = (FeedDto)ViewData["Feed"];
                <div class="@feedback.Classe.GetStringValue() feedTimeout">
                    <span>@feedback.Messaggio</span>
                </div>
            }
            <div class="row">
                <button name="submit" type="submit" value="save" class='btn btn-primary btn-lg' id="bSave">
                    <span class='fa fa-save'></span>
                    Salva
                </button>
                <a href="@Url.Action("Fascicoli", "Fascicoli", new {idEvento = Model.IdEvento})" class='btn btn-default btn-lg'>
                    <span class='fa fa-remove'></span>
                    Annulla
                </a>
            </div>
            <br />
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.IdEvento)
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Descrizione, new { @class = "col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Descrizione, new { @class = "form-control inputtextarea" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Priorità", new { @class = "col-md-2" })
                <div class="col-md-8">
                    @Html.Kendo().NumericTextBoxFor(model => model.Priorita).Min(1).Max(999).Decimals(0).Format("d")
                </div>
            </div>
            @*<div class="form-group">
                    @Html.Label("Utente assegnato", new { @class = "col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdUtenteAssegnato, (IEnumerable<SelectListItem>)ViewData["slUtenti"], new { @class = "dropdown form-control input-sm" })
                    </div>
                </div>*@<div class="row">
                @foreach (var user in (IEnumerable<UtentiAdiuto>)utenti)
                {

                    <div class="col-sm-12 col-xs-12 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2>@user.Username</h2>
                                <div class="btn-group">
                                    <button class="btn btn-warning" onclick="takeAll(@user.Id)">Assegna tutti</button>
                                    <button class="btn btn-default" onclick="takeNone(@user.Id)">Assegna nessuno</button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h3>Documenti del fascicolo:</h3>
                                @if (!((IEnumerable<Documenti>)documentiFascicolo).Any())
                                {
                                    <label>Nessun documento ancora aperto in questo fascicolo</label>
                                }

                                @foreach (var doc in (IEnumerable<Documenti>)documentiFascicolo)
                                {
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" id="ckbAss_@(user.Id)_@(doc.Id)" name="ckbAss_@(user.Id)_@(doc.Id)" checked="@SetAss(user.Id, doc.Id, (IEnumerable<AssUtentiDocumenti>) associazioni)" />
                                        <Label for="ckbAss_@(user.Id)_@(doc.Id)">@doc.Nome (@doc.DataInserimento.ToString("dd/MM/yyyy"))</Label><br />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@functions
{
    private bool SetAss(int idUser, int idDoc, IEnumerable<AssUtentiDocumenti> associazioni)
    {
        if (associazioni.Any(t => t.IdUtente == idUser && t.IdDocumento == idDoc))
            return true;
        return false;
    }
}
<script type="text/javascript">
    function CheckAll(ckb) {
        var docsFirstPartName = "ckbAss_" + ckb.split('_')[1] + "_";
        if ($('#' + ckb).is(":checked")) {
            $('[id^=' + docsFirstPartName + ']').prop('checked', true);
        } else {
            $('[id^=' + docsFirstPartName + ']').prop('checked', false);
        }
    }

    function takeAll(userId) {
        var docsFirstPartName = "ckbAss_" + userId + "_";
        $('[id^=' + docsFirstPartName + ']').prop('checked', true);
    }

    function takeNone(userId) {
        var docsFirstPartName = "ckbAss_" + userId + "_";
        $('[id^=' + docsFirstPartName + ']').prop('checked', false);
    }
</script>