﻿@using System.Collections
@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Kendo.Mvc.UI
@using Service.Models
@model FascicoliDto

<h2>Fascicoli dell'Evento @Model.NomeEvento</h2>
<h4>@Model.DescrizioneEvento</h4>
@{
    ViewBag.Title = "Fascicoli";
    if (ViewData["Feed"] != null)
    {
        var feedback = (FeedDto)ViewData["Feed"];
        <div class="@feedback.Classe.GetStringValue() feedTimeout">
            <span>@feedback.Messaggio</span>
        </div>
    }
}

@(Html.Kendo().Grid<Fascicoli>()
    .Name("gridFascicoli")
    .DataSource(dataSource => dataSource
    .Ajax()
    .Model(m => m.Id(i => i.Id))
    .Read(read => read.Action("_Ajax_Select_Fascicoli", "Fascicoli", new { idEvento = Model.IdEvento }).Type(HttpVerbs.Get))
    .Events(t => t.Error("onErrorFascicoli"))
    .PageSize(50)
    )
    .Columns(columns =>
    {
        columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-button-icontext' href='" + Url.Action("EditFascicoli", "Fascicoli", new { id = "#=id#", idEvento = Model.IdEvento, nomeEvento = Model.NomeEvento, descrizioneEvento = Model.DescrizioneEvento }) + "'><span class='k-icon k-edit'></span>Modifica</a>" +
                                                        "<a class='k-button k-button-icontext' href='" + Url.Action("Pubblica", "Fascicoli", new { id = "#=id#", idEvento = Model.IdEvento, nomeEvento = Model.NomeEvento, descrizioneEvento = Model.DescrizioneEvento }) + "'><span class='k-icon k-addfolder'></span>Pubblica</a>" +
                                                        "<a class='k-button k-button-icontext' href='" + Url.Action("AnnullaPubblicazione", "Fascicoli", new { id = "#=id#", idEvento = Model.IdEvento, nomeEvento = Model.NomeEvento, descrizioneEvento = Model.DescrizioneEvento }) + "'><span class='k-icon k-delete'></span>Annulla pubblicazione</a>").Width(403);
        columns.Bound(b => b.Nome);
        columns.Bound(b => b.Descrizione);
        //columns.ForeignKey(b => b.IdUtenteAssegnato, (IEnumerable)ViewData["slUtenti"], "Value", "Text").Title("Utente Assegnato");
        columns.Bound(b => b.Priorita).Title("Priorità").Hidden(false);
    })
    .ToolBar(cmds =>
    {
        cmds.Custom().Name("ritornaEvento").Text(" Documenti...").Action("Documenti", "Documenti", new { idEvento = Model.IdEvento, messaggio = "" });
    })
    .Pageable(p => p.Refresh(true).PageSizes(true).ButtonCount(5))
    .Editable(t => t.DisplayDeleteConfirmation("Confermi la cancellazione della riga selezionata? L'operazione non sarà reversibile."))
    .Sortable(sorting => sorting.Enabled(true))
    .Filterable(filtering => filtering.Enabled(true))
    .Events(e => e.DataBound("onDataBoundGridFascicoli"))
    .Scrollable(t => t.Enabled(false))
)
@(Html.Kendo().Sortable()
    .For("#gridFascicoli")
    .Filter("table > tbody > tr")
    .Cursor("move")
    //.HintHandler("noHint")
    .PlaceholderHandler("placeholder")
    .ContainerSelector("#gridFascicoli tbody")
    .Events(events => events.Change("onChange"))
)
<br /><br />
<script>
    function onDataBoundGridFascicoli() {
        $(".k-grid-ritornaEvento").find("span").addClass("fa fa-calendar-check-o");
    }

    var noHint = $.noop;
    function placeholder(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.65);
    }

    function onChange(e) {
        var grid = $("#gridFascicoli").data("kendoGrid"),
            skip = grid.dataSource.skip(),

            oldIndex = e.oldIndex + skip,
            newIndex = e.newIndex + skip;

        var idDestination = grid.dataSource._pristineData[newIndex].Id;
        var idStart = grid.dataSource._pristineData[oldIndex].Id;

        $.ajax({
            url: "/Api/GedApi/ScambiaPriorita?id1=" + idDestination + "&id2=" + idStart,
            //data: JSON.stringify({ id1: idDestination, id2: idStart }),
            success: function () {
                grid.dataSource.read();
                grid.refresh();
            },
            type: 'GET',
            dataType: 'json',
            error: function () { }
        });
    }

    function onErrorFascicoli(e) {
        if (e.status == "customerror") {
            alert("Questa operazione non è ammessa dal database.");
        }
        else {
            alert("Errore generico del server.");
        }
        $('#gridFascicoli').data('kendoGrid').dataSource.read();
        $('#gridFascicoli').data('kendoGrid').refresh();
    }

</script>

<style>
    .k-grid tbody tr {
        cursor: move;
    }
</style>