﻿@using System.Configuration
@using GestioneElettronicaDocumenti.Extensions
@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Kendo.Mvc.UI
@using Service.Models

<h2>Icone</h2>

@{
    ViewBag.Title = "Icone";
    var prefix = ConfigurationManager.AppSettings["ImagePrefix"];
    if (ViewData["Feed"] != null)
    {
        var feedback = (FeedDto)ViewData["Feed"];
        <div class="@feedback.Classe.GetStringValue() feedTimeout">
            <span >@feedback.Messaggio</span>
        </div>
    }
}

@(Html.Kendo().Grid<Immagini>()
            .Name("gridIcone")
            .DataSource(dataSource => dataSource
            .Ajax()
            .Model(m => m.Id(i => i.Id))
            .Read(read => read.Action("_Ajax_Select_Icone", "Icone").Type(HttpVerbs.Get))
            .Destroy(del => del.Action("_Ajax_Delete_Icone", "Icone").Type(HttpVerbs.Post))
            .Events(t => t.Error("onErrorIcone"))
            .Events(t => t.RequestEnd("onRequestEndIcone"))
        )
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).ClientTemplate("<img src='/" + prefix + "/#=Id##=Extension#?w=50' />").Title("").Width(60);
            columns.Bound(b => b.FileName);
            columns.Bound(b => b.Extension);

            columns.Command(cmd => cmd.Destroy().Text("Elimina")).Width(120);
        })
        .ToolBar(cmds => cmds.Custom().Name("nuovaIcona").Text("Aggiungi un'Icona").Url("NewIcone").HtmlAttributes(new { onclick = "saveGridStateIcone()" }))
        .Pageable(p => p.Refresh(true).PageSizes(true).ButtonCount(5))
        .Editable(t => t.DisplayDeleteConfirmation("Confermi la cancellazione della riga selezionata?"))
        .Sortable(sorting => sorting.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        .Events(e => e.DataBound("onDataBoundGridIcone"))
      )
<br /><br />
<script>
    function onDataBoundGridIcone() {
        $(".k-grid-nuovaIcona").find("span").addClass("k-icon k-add");
    }

    function onErrorIcone(e) {
        if (e.status == "customerror") {
            alert("Questa operazione non è ammessa dal database.");
        }
        else {
            alert("Errore generico del server.");
        }
        $('#gridIcone').data('kendoGrid').dataSource.read();
        $('#gridIcone').data('kendoGrid').refresh();
    }

    function saveGridStateIcone() {
        var grid = $("#gridIcone").data("kendoGrid");
        localStorage["kendo-grid-options-Icone"] = kendo.stringify(grid.getOptions());
    }

    function onRequestEndIcone(e) {
        var stato = localStorage["kendo-grid-options-Icone"];
        if (stato) {
            localStorage.removeItem("kendo-grid-options-Icone");
            var grid = $("#gridIcone").data("kendoGrid");
            var toolbar = $("#gridIcone").find(".k-grid-toolbar").html();
            grid.setOptions(JSON.parse(stato));
            $("#gridIcone").find(".k-grid-toolbar").html(toolbar);
        }
    }
</script>
