﻿@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Service.Models
@model IconeDto

<h2>@ViewData["titolo"]</h2>

@using (Html.BeginForm("SaveIcone", "Icone", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", method = "post" }))
{

    ViewBag.Title = ViewData["titolo"];
    if (ViewData["Feed"] != null)
    {
        var feedback = (FeedDto)ViewData["Feed"];
        <div class="@feedback.Classe.GetStringValue() feedTimeout">
            <span>@feedback.Messaggio</span>
        </div>
    }

    <div class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="row">
                <button name="submit" type="submit" value="save" class='btn btn-primary btn-lg' id="bSave">
                    <span class='fa fa-save'></span>
                    Salva
                </button>
                <a href="@Url.Action("Icone", "Icone")" class='btn btn-default btn-lg'>
                    <span class='fa fa-remove'></span>
                    Annulla
                </a>
            </div>
            <br />
            <div class="row">
                <span class="btn btn-default btn-file">
                    <span>
                        Seleziona un file...
                        <input type="file" name="files" id="fileImmagine" accept="image/*" onchange="okImage()" />
                    </span>
                </span>
                <img src="~/Content/Image/accept.png" id="okImg" height="30" style="display: none;" />
            </div>
        </div>
    </div>
}