﻿@using GestioneElettronicaDocumenti.Viewmodels
@model FascicoliPassatiDto

<h2>@ViewData["titolo"]</h2>
@{
    ViewBag.Title = "Documenti da eventi passati";
}
@using (Html.BeginForm("SaveDocumentiPassati", "Documenti", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", method = "post" }))
{
    <h2>Carica documenti passati nell'Evento @Model.NomeEvento</h2>
    <h4>@Model.DescrizioneEvento</h4>
    @Html.HiddenFor(t => t.IdEvento)
    @Html.HiddenFor(t => t.NomeEvento)
    @Html.HiddenFor(t => t.DescrizioneEvento)
    <div class="feedback alert alert-info">
        <span>Seleziona i fascicoli da portare nell'evento che si sta modificando. I fascicoli già presenti non verranno duplicati.</span>
    </div>
    <div class="modal-body">
        <div class="row">
            <button name="submit" type="submit" value="save" class='btn btn-primary btn-lg' id="bSave">
                <span class='fa fa-save'></span>
                Salva
            </button>
            <a href="@Url.Action("Documenti", "Documenti", new {idEvento = Model.IdEvento, messaggio = ""})" class='btn btn-default btn-lg'>
                <span class='fa fa-remove'></span>
                Annulla
            </a>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <b>Nome Fascicolo</b>
            </div>
            <div class="col-md-3">
                <span>Utente Assegnato</span>
            </div>
            <div class="col-md-3">
                <span>Evento</span>
            </div>
        </div>
        @{
            var idStampati = new List<int>();
            foreach (var doc in Model.FascicoliList)
            {
                if (!idStampati.Contains(doc.Id))
                {
                    idStampati.Add(doc.Id);
                    <div class="row alert alert-success">
                        <div class="col-md-3">
                            <b>@doc.Nome </b>
                        </div>
                        <div class="col-md-3">
                            <span>@GetNomeUtente(doc.IdUtenteAssegnato)</span>
                        </div>
                        <div class="col-md-3">
                            <span>@doc.NomeEvento del @doc.DataEvento.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="col-md-3 checkbox checkbox-primary">
                            <input type="checkbox" id="ckba_@doc.Id" name="ckba_@doc.Id" value="false" onchange="onCbChange('a', @doc.Id, this)"/> <Label for="ckba_@doc.Id"> Importa documenti aperti</Label> <br/>
                            <input type="checkbox" id="ckbc_@doc.Id" name="ckbc_@doc.Id" value="false" onchange="onCbChange('c', @doc.Id, this)"/> <Label for="ckbc_@doc.Id"> Importa tutto il fascicolo</Label> 
                        </div>
                    </div>
                }
            }
            <script type="text/javascript">
                function onCbChange(tipo, id, cb) {
                    if (cb.checked) {
                        if (tipo == 'a') {
                            $('#ckbc_' + id.toString()).prop('checked', false);
                        } else {
                            $('#ckba_' + id.toString()).prop('checked', false);
                        }
                    }
                }
            </script>
        }
    </div>
    }

@functions
{

    private string GetNomeUtente(int? idUtente)
    {
        return idUtente.HasValue ? ((IEnumerable<SelectListItem>)ViewData["slUtenti"]).First(t => t.Value == idUtente.ToString()).Text : "";
    }

}
