﻿@using System.Globalization
@using dotless.Core.Utils
@using GestioneElettronicaDocumenti.Extensions
@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Kendo.Mvc.UI
@using Service.Models
@model Documenti
@{
    var idEventoAttuale = Convert.ToInt32(Request.QueryString.GetValues("idEvento")[0]);
}

@using (Html.BeginForm("SaveDocumenti", "Documenti", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", method = "post" }))
{
    ViewBag.Title = "Evento";
    <div class="form-horizontal" role="form">
        <div class="modal-body">
            @if (Model.Id == 0)
            {
                <h2>Nuovo documento per l'Evento @ViewData["titolo"]</h2>
            }
            else
            {
                <h2>Modifica documento per l'Evento @ViewData["titolo"]</h2>
            }
            @if (ViewData["Feed"] != null)
            {
                var feedback = (FeedDto)ViewData["Feed"];
                <div id="tipoFeedback" class="@feedback.Classe.GetStringValue()  feedTimeout">
                    <span id="messaggioFeedback">@feedback.Messaggio</span>
                </div>
            }
            else
            {
                <div id="tipoFeedback" style="display: none;">
                    <span id="messaggioFeedback"></span>
                </div>
            }
            <div class="row">
                <button name="submit" type="submit" value="save" class='btn btn-primary btn-lg' id="bSave" onclick="return validate()">
                    <span class='fa fa-save'></span>
                    Salva
                </button>
                <a href="@Url.Action("Documenti", "Documenti", new {idEvento = idEventoAttuale})" class='btn btn-default btn-lg'>
                    <span class='fa fa-remove'></span>
                    Annulla
                </a>
            </div>
            <br />
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.IdAdiuto)
            @Html.HiddenFor(model => model.Nome)
            @Html.HiddenFor(model => model.IdEvento)
            @Html.HiddenFor(model => model.IdFascicolo)
            @Html.HiddenFor(model => model.IdImmagine)
            @Html.HiddenFor(model => model.Versione)
            @Html.HiddenFor(model => model.DataInserimento)
            @Html.HiddenFor(model => model.UtenteInserimento)
            @Html.HiddenFor(model => model.DataUltimaModifica)
            @Html.HiddenFor(model => model.UtenteUltimaModifica)
            @*@Html.HiddenFor(model => model.IdUtenteAssegnato)*@
            <div class="form-group">
                @Html.Label("Fascicolo", new { @class = "col-md-2" })
                <div class="col-md-8" id="divModalitaNew">
                    @Html.RadioButtonFor(t => t.TipoFascicolo, TipoFascicolo.NoFascicolo) ODG <br />
                    @Html.RadioButtonFor(t => t.TipoFascicolo, TipoFascicolo.SelezionaFascicolo) Seleziona un fascicolo di questo evento<br />
                    @Html.RadioButtonFor(t => t.TipoFascicolo, TipoFascicolo.NuovoFascicolo) Inserisci in un nuovo fascicolo<br />
                    @Html.RadioButtonFor(t => t.TipoFascicolo, TipoFascicolo.FascicoloVuoto) Crea un nuovo fascicolo vuoto
                </div>
                <div class="col-md-8" id="divModalitaEdit">
                    @Html.RadioButtonFor(t => t.TipoFascicolo, TipoFascicolo.NoFascicolo) ODG <br />
                    @Html.RadioButtonFor(t => t.TipoFascicolo, TipoFascicolo.SelezionaFascicolo) Seleziona un fascicolo di questo evento<br/>
                    @Html.RadioButtonFor(t => t.TipoFascicolo, TipoFascicolo.NuovoFascicolo) Inserisci in un nuovo fascicolo<br/>
                </div>
            </div>
            <div class="form-group">
                <div id="divSelFascicolo">
                    @Html.Label("Fascicoli dell'evento:", new { @class = "col-md-2" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(t => t.IdFascicoloSelezionato, (IEnumerable<SelectListFascicoli>)ViewData["slFascicoli"], new { @class = "dropdown form-control input-sm largecontrol" })
                    </div>
                </div>
                <div id="divNuovoFascicolo">
                    @Html.Label("Nome nuovo fascicolo:", new { @class = "col-md-2" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(t => t.NomeNuovoFascicolo, new { @class = "dropdown form-control input-sm largecontrol" })
                    </div>
                    @Html.Label("Descrizione nuovo fascicolo:", new { @class = "col-md-2" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(t => t.DescrizioneNuovoFascicolo, new { @class = "dropdown form-control input-sm largecontrol" })
                    </div>
                    @*@Html.Label("Utente assegnato al nuovo fascicolo", new { @class = "col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.IdUtenteAssegnatoFascicolo, (IEnumerable<SelectListItem>)ViewData["slUtenti"], new { @class = "dropdown form-control input-sm" })
                    </div>*@
                </div>
                <div id="divFascicoloVuoto">
                    @Html.Label("Nome nuovo fascicolo vuoto:", new { @class = "col-md-2" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(t => t.NomeNuovoFascicoloVuoto, new { @class = "dropdown form-control input-sm largecontrol" })
                    </div>
                    @Html.Label("Descrizione nuovo fascicolo vuoto:", new { @class = "col-md-2" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(t => t.DescrizioneNuovoFascicoloVuoto, new { @class = "dropdown form-control input-sm largecontrol" })
                    </div>
                </div>
            </div>
            <div class="panel panel-body" id="divParametriFile">
                <div class="form-group">
                    @Html.Label("File", new { @class = "col-md-2" })
                    <div class="col-md-8">
                        <span class="btn btn-default btn-file">
                            <span>
                                Seleziona un file...
                                <input type="file" name="files" id="fileImmagine" accept="*.*" onchange="okImage()" />
                            </span>
                        </span>
                        <img src="~/Content/Image/accept.png" id="okImg" height="30" style="display: none;" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Descrizione, new { @class = "col-md-2" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Descrizione, new { @class = "form-control inputtextarea" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Riservato, new { @class = "col-md-2" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.Riservato)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Visibile, new { @class = "col-md-2" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.Visibile)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Data chiusura", new { @class = "col-md-2" })
                    <div class="col-md-6">
                        @Html.Kendo().DatePickerFor(model => model.DataFineValidita).Culture(CultureInfo.CurrentCulture.ToString()).HtmlAttributes(new { @type = "text" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, new { @class = "col-md-2" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control inputtextarea" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        @if (Model.Id > 0)
        {
            <script type="text/javascript">
                $("#divModalitaNew").hide();
                $("#divModalitaEdit").show();
            </script>
        }
        else
        {
            <script type="text/javascript">
                $("#divModalitaNew").show();
                $("#divModalitaEdit").hide();
            </script>
        }
        @switch (Model.TipoFascicolo)
        {
            case TipoFascicolo.NoFascicolo:
                <script type="text/javascript">
                    $("#divSelFascicolo").hide();
                    $("#divNuovoFascicolo").hide();
                    $("#divFascicoloVuoto").hide();
                    $("#divParametriFile").show();
                </script>
                break;
            case TipoFascicolo.SelezionaFascicolo:
                <script type="text/javascript">
                    $("#divSelFascicolo").show();
                    $("#divNuovoFascicolo").hide();
                    $("#divFascicoloVuoto").hide();
                    $("#divParametriFile").show();
                </script>
                break;
            case TipoFascicolo.NuovoFascicolo:
                <script type="text/javascript">
                    $("#divSelFascicolo").hide();
                    $("#divNuovoFascicolo").show();
                    $("#divFascicoloVuoto").hide();
                    $("#divParametriFile").show();
                </script>
                break;
            case TipoFascicolo.FascicoloVuoto:
                <script type="text/javascript">
                    $("#divSelFascicolo").hide();
                    $("#divNuovoFascicolo").hide();
                    $("#divFascicoloVuoto").show();
                    $("#divParametriFile").hide();
                </script>
                break;
        }
    </div>
}
<script type="text/javascript">

    var fascicoli = '@(((IEnumerable<SelectListItem>)ViewData["slFascicoli"]).Select(t => t.Text).ToList().JoinStrings("|"))';

    $(document).ready(function () {
        $('[id^=TipoFascicolo]').change(function () {
            if ($(this).attr("value") === "NoFascicolo") {
                $("#divSelFascicolo").hide();
                $("#divNuovoFascicolo").hide();
                $("#divFascicoloVuoto").hide();
                $("#divParametriFile").show();
            }
            if ($(this).attr("value") === "SelezionaFascicolo") {
                $("#divSelFascicolo").show();
                $("#divNuovoFascicolo").hide();
                $("#divFascicoloVuoto").hide();
                $("#divParametriFile").show();
            }
            if ($(this).attr("value") === "NuovoFascicolo") {
                $("#divSelFascicolo").hide();
                $("#divNuovoFascicolo").show();
                $("#divFascicoloVuoto").hide();
                $("#divParametriFile").show();
            }
            if ($(this).attr("value") === "FascicoloVuoto") {
                $("#divSelFascicolo").hide();
                $("#divNuovoFascicolo").hide();
                $("#divFascicoloVuoto").show();
                $("#divParametriFile").hide();
            }
        });
    });

    function validate() {
        if ($('#DataFineValidita').val().length === 0 || moment($('#DataFineValidita').val(), 'DD/MM/YYYY', 'it', true).isValid()) {
            var tipoFascicoloSelezionato = $('input[name="TipoFascicolo"]:checked').val();
            switch (tipoFascicoloSelezionato) {
                case "NoFascicolo":
                    return true;
                case "NuovoFascicolo":
                    var nomeSceltoFascicolo = $('#NomeNuovoFascicolo').val();
                    if (nomeSceltoFascicolo.length != 0) {
                        //Controllo fascicolo già esistente
                        if ($.inArray(nomeSceltoFascicolo, fascicoli.split('|')) === -1) {
                            return true;
                        } else {
                            //setto il messaggio di errore nome non univoco
                            $("#tipoFeedback").removeClass();
                            $("#tipoFeedback").addClass("feedback alert alert-danger");
                            $("#messaggioFeedback").text("Il nome per il nuovo fascicolo è già presente in questo evento.");
                            $("#tipoFeedback").show();
                        }
                    } else {
                        //setto il messaggio di errore nuovo fascicolo
                        $("#tipoFeedback").removeClass();
                        $("#tipoFeedback").addClass("feedback alert alert-danger");
                        $("#messaggioFeedback").text("Se si sceglie di inserire il file in un nuovo fascicolo, il nome del nuovo fascicolo è obbligatorio.");
                        $("#tipoFeedback").show();
                    }
                    break;
                case "SelezionaFascicolo":
                    if ($('#IdFascicoloSelezionato').val() != null) {
                        return true;
                    } else {
                        //setto il messaggio di errore come fascicolo non selezionato
                        $("#tipoFeedback").removeClass();
                        $("#tipoFeedback").addClass("feedback alert alert-danger");
                        $("#messaggioFeedback").text("Nessun fascicolo selezionato.");
                        $("#tipoFeedback").show();
                    }
                case "FascicoloVuoto":
                    var nomeFascicoloVuoto = $('#NomeNuovoFascicoloVuoto').val();
                    if (nomeFascicoloVuoto.length != 0) {
                        return true;
                    } else {
                        //setto il messaggio di errore come fascicolo non selezionato
                        $("#tipoFeedback").removeClass();
                        $("#tipoFeedback").addClass("feedback alert alert-danger");
                        $("#messaggioFeedback").text("Nella creazione di un nuovo fascicolo, il Nome è obbligagorio.");
                        $("#tipoFeedback").show();
                    }

            }
        } else {
            //setto il messaggio di errore data
            $("#tipoFeedback").removeClass();
            $("#tipoFeedback").addClass("feedback alert alert-danger");
            $("#messaggioFeedback").text("La data di chiusura del file non è valida");
            $("#tipoFeedback").show();
        }
        return false;
    }

</script>
