﻿@using System.Collections
@using System.Configuration
@using dotless.Core.Utils
@using GestioneElettronicaDocumenti.Extensions
@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Kendo.Mvc.UI
@using Service.Models
@model DocumentiDto

<h2>Documenti dell'Evento @Model.NomeEvento</h2>
@if (Model.IsPubblicatoEvento)
{
    <h4>Questo evento è pubblicato</h4>
}
else
{
    <h4>Questo evento non è pubblicato</h4>
}
<h4>@Model.DescrizioneEvento</h4>
@{
    ViewBag.Title = "Documenti";
    var prefix = ConfigurationManager.AppSettings["ImagePrefix"];
    if (ViewData["Feed"] != null)
    {
        var feedback = (FeedDto)ViewData["Feed"];
        <div class="@feedback.Classe.GetStringValue()  feedTimeout">
            <span>@feedback.Messaggio</span>
        </div>
    }
}

@(Html.Kendo().Grid<Documenti>()
                        .Name("gridDocumenti")
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(m => m.Id(i => i.Id))
                        .Read(read => read.Action("_Ajax_Select_Documenti", "Documenti", new { idEvento = Model.IdEvento }).Type(HttpVerbs.Get))
                        .Destroy(del => del.Action("_Ajax_Delete_Documenti", "Documenti").Type(HttpVerbs.Post))
                        .Events(t => t.Error("onErrorDocumenti"))
                        .Events(t => t.RequestEnd("onRequestEnd"))
                        .PageSize(50)
                        .Group(groups =>
                        {
                            groups.Add(p => p.FascicoloPrioritaNomeId);
                        }
                    ))
                    //<a class='k-button k-button-icontext' href='" + Url.Action("ChiudiFascicolo", "Documenti", new { id = "#==value.split('|')[3]#"}) + @"' ><span class='fa fa-flag-checkered'></span> Chiudi Fascicolo</a>
                    .Columns(columns =>
                    { //<span class='badge'><span class='badgeFascicolo'>#=value.split('|')[3]#. </span></span>
            columns.Bound(t => t.FascicoloPrioritaNomeId).ClientGroupHeaderTemplate(@"
<div class='titoloFasciciolo'>
#if (value.split('|')[4] == -1)
{#

#}
else if (value.split('|')[4] == 0)
{#
<span class='badgeRosso badge'><span class='badgeFascicolo'>#=value.split('|')[3] - 1#. </span></span>
#} else {#
<span class='badgeGiallo badge'><span class='badgeFascicolo'>#=value.split('|')[3] - 1#. </span></span>
#}#
<b>#=value.split('|')[1]#</b> <!--<span class='userAssegnatoFascicolo'>#=getNomeUtente(value.split('|')[4])#</span>-->
#if ('" + Model.UtenteGestore + @"' == 'True')
{#
<b> - #=value.split('|')[5]#</b>
#}#
</div>
<div positon-right min-width style='float:right;'>
#if ('" + Model.UtenteGestore + @"' == 'True') {#
<input id='kendoFileUpload_#=value.split('|')[2]#' type='file' name='files' />
#if (value.split('|')[2] != 0) {#
<button class='k-button k-button-icontext positon-right' onclick='eliminaFascicolo(#=value.split('|')[2]#, " + Model.IdEvento + @")' ><span class='fa fa-remove'></span> Elimina Fascicolo</button>
#if (value.split('|')[4] != 0) {#
    <button class='k-button k-button-icontext positon-right' onclick='chiudiFascicolo(#=value.split('|')[2]#)' ><span class='fa fa-flag-checkered'></span> Chiudi Fascicolo</button>
#}
if (value.split('|')[4] == 0) {#
    <button class='k-button k-button-icontext positon-right' disabled='disabled'>Chiuso: #=value.split('|')[6]# </button>
#}
}
} else {
if (value.split('|')[2] != 0){
if (value.split('|')[4] == 0){#
    <button class='k-button k-button-icontext positon-right' disabled='disabled'>Chiuso: #=value.split('|')[6]# </button>
#}
}
}#
</div>"
        ).Hidden();
            //columns.Bound(b => b.Versione);
            columns.Template(@<text></text>).ClientTemplate("#if (IdAdiuto > 0){#" +
    "<button class='k-button k-button-icontext' onclick ='apriFile(#=IdAdiuto#, \"#=Nome#\", #=Riservato#, \"" + Model.UtenteVedeRiservati + "\", \"" + Model.UtenteGestore + "\", \"" + Url.Action("Scarica", "Documenti") + "\")'><img src='/" + prefix + "/#=IdImmagine#?w=50' /></button>" +
    "#}#"); //<span class='fa fa-eye'></span> Visualizza
        columns.Bound(b => b.Nome);
                    columns.Bound(b => b.Descrizione).ClientTemplate(HtmlExtensions.BoundTextColumn("Descrizione"));
                    if (Model.UtenteGestore)
                    {
                        columns.Bound(b => b.Visibile).ClientTemplate(HtmlExtensions.BoundCheckBox("Visibile"));
                    }
        //columns.ForeignKey(b => b.IdUtenteInCarico, (IEnumerable)ViewData["slUtenti"], "Value", "Text").Title("Utente In Carico");
        columns.Bound(b => b.IdUtenteInCarico).Title("Utente In Carico").Template(@<text></text>).ClientTemplate("<label id='utenteInCarico_#=Id#' name='utenteInCarico_#=Id#'>#=getNomeUtente(IdUtenteInCarico)#</label>");
                columns.Bound(b => b.DataInserimento).Format("{0:dd/MM/yyyy HH:mm}").Title("Inserito Il");
                columns.Bound(b => b.DataFineValidita).Format("{0:dd/MM/yyyy}").Title("Chiuso il");
                if (Model.UtenteGestore)
                {
                    columns.Template(@<text></text>).ClientTemplate("#if (IdAdiuto > 0){#" +
                    "<a style='width: 98px;' class='k-button k-button-icontext' href='" + Url.Action("EditDocumenti", "Documenti", new { id = "#=Id#", idEvento = Model.IdEvento, nomeEvento = Model.NomeEvento, descrizioneEvento = Model.DescrizioneEvento }) + "' ><span class='k-icon k-edit'></span>Modifica</a>" +
                    "<a style='width: 98px;' class='k-button k-button-icontext k-grid-delete' href='\\#'><span class='k-icon k-delete'></span>Elimina</a>" +
                    "#}#");
                        }
                        columns.Template(@<text></text>).ClientTemplate(
                        "#if (PuoPrendereInCarico){#" +
                            "<button style='width: 98px;' class='k-button k-button-icontext' onclick='prendiInCarico(#=Id#)' id='bPrendi_#=Id#'><span class='k-icon k-i-lock'></span>Prendi</button>" +
                        "#}else{#" +
                            "<button style='width: 98px;' class='k-button k-button-icontext buttonhidden' onclick='prendiInCarico(#=Id#)' id='bPrendi_#=Id#'><span class='k-icon k-i-lock'></span>Prendi</button>" +
                        "#} if (PuoRilasciare){#" +
                            "<button style='width: 98px;' class='k-button k-button-icontext' onclick='rilascia(#=Id#)' id='bRilascia_#=Id#'><span class='k-icon k-i-unlock'></span>Rilascia</button>" +
                        "#}else{#" +
                            "<button style='width: 98px;' class='k-button k-button-icontext buttonhidden' onclick='rilascia(#=Id#)' id='bRilascia_#=Id#'><span class='k-icon k-i-unlock'></span>Rilascia</button>" +
                        "#}#");
                            })
                                       .ToolBar(cmds =>
                                       {
                                           cmds.Custom().Name("ritornaIndice").Text(" Indice Eventi...").Url("~/");
                                           cmds.Custom().Name("collapse").Text(" Minimizza fascicoli").Url("#").HtmlAttributes(new { onclick = "collapseAllGrid()" });
                                           if (Model.UtenteGestore)
                                           {
                                               cmds.Custom().Name("nuovoDocumento").Text(" Aggiungi").Action("NewDocumenti", "Documenti", new { idEvento = Model.IdEvento, nomeEvento = Model.NomeEvento, descrizioneEvento = Model.DescrizioneEvento });
                                               cmds.Custom().Name("riorganizzaFascicoli").Text(" Fascicoli e Assegnazioni").Action("Fascicoli", "Fascicoli", new { idEvento = Model.IdEvento, messaggio = "" });
                                               cmds.Custom().Name("documentiPassati").Text(" Carica da altri eventi").Action("DocumentiPassati", "Documenti", new { idEvento = Model.IdEvento, messaggio = "" });
                                               if (Model.IsPubblicatoEvento)
                                               {
                                                   cmds.Custom().Name("pubblicaEvento").Text(" Annulla pubblicazione Evento").Action("PubblicaEvento", "Documenti", new { idEvento = Model.IdEvento, isPubblicato = Model.IsPubblicatoEvento });
                                               }
                                               else
                                               {
                                                   cmds.Custom().Name("pubblicaEvento").Text(" Pubblica Evento").Action("PubblicaEvento", "Documenti", new { idEvento = Model.IdEvento, isPubblicato = Model.IsPubblicatoEvento });
                                               }
                                           }
                                       })
                                   .Pageable(p => p.Refresh(true).PageSizes(new int[] { 50, 100, 200 }).ButtonCount(5))
                                   .Editable(t => t.DisplayDeleteConfirmation("Confermi la cancellazione della riga selezionata? L'operazione non sarà reversibile."))
                                   .Sortable(sorting => sorting.Enabled(true))
                                   .Filterable(filtering => filtering.Enabled(true))
                                   .Events(e => e.DataBound("onDataBoundGridDocumenti"))
)
<br /><br />
<script type="text/javascript">
    var utenti = '@(((IEnumerable<SelectListItem>)ViewData["slUtenti"]).Select(t => t.Value + "_%_" + t.Text).ToList().JoinStrings("|"))';

    function apriFile(id, nome, riservato, vedeRiservati, gestore, baseUrl) {
        if (riservato && (vedeRiservati != "True") && (gestore != "True")) {
            alert("Questo documento è riservato.");
        } else {
            window.location.href = baseUrl + "?idAdiuto=" + id + "&nome=" + nome;
        }
    }

    function onRequestEnd(e) {
        if (e.type === "destroy") {
            $('#gridDocumenti').data('kendoGrid').dataSource.read();
            $('#gridDocumenti').data('kendoGrid').refresh();
        }
    }

    function chiudiFascicolo(idFascicolo) {
        if (confirm('Sei sicuro di voler chiudere il fascicolo selezionato?')) {
            $.ajax({
                url: 'ChiudiFascicolo',
                data: { idFascicolo: idFascicolo }
            }).success(function(str) {
                if (str === '') {
                    $('#gridDocumenti').data('kendoGrid').dataSource.read();
                    $('#gridDocumenti').data('kendoGrid').refresh();
                } else {
                    alert('Si è verificato un errore inaspettato: ' + str);
                }
            });
        }
    }

    function eliminaFascicolo(idFascicolo, idEvento) {
        if (confirm('Sei sicuro di voler eliminare il fascicolo selezionato? Questa operazione non è reversibile.')) {
            $.ajax({
                url: 'EliminaFascicolo',
                data: { idFascicolo: idFascicolo, idEvento: idEvento }
            }).success(function(str) {
                if (str === '') {
                    $('#gridDocumenti').data('kendoGrid').dataSource.read();
                    $('#gridDocumenti').data('kendoGrid').refresh();
                } else {
                    alert('Si è verificato un errore inaspettato: ' + str);
                }
            });
        }
    }

    function getNomeUtente(idUtente) {
        for (var i = 0; i < utenti.split('|').length; i++) {
            var user = utenti.split('|')[i];
            if (user.replace('_%_', '|').split('|')[0] === idUtente) {
                var ret = user.replace('_%_', '|').split('|')[1];
                console.log(ret);
                return ret;
            }
        }
        return "";
    }

    function onDataBoundGridDocumenti() {
        $(".k-grid-nuovoDocumento").find("span").addClass("k-icon k-add");
        $(".k-grid-riorganizzaFascicoli").find("span").addClass("fa fa-folder-open");
        $(".k-grid-ritornaIndice").find("span").addClass("fa fa-th");
        $(".k-grid-documentiPassati").find("span").addClass("fa fa-history");
        $(".k-grid-pubblicaEvento").find("span").addClass("fa fa-paper-plane-o");
        $(".k-grid-collapse").find("span").addClass("fa fa-compress");

        //if (!@Model.UtenteGestore.ToString().ToLower() && !@Model.UtenteVedeRiservati.ToString().ToLower()) {
        //    var ds = $('#gridDocumenti').data('kendoGrid').dataSource;
        //    var newFilter = { field: "Riservato", operator: "eq", value: false };
        //    var filters = null;
        //    if ( ds.filter() != null) {
        //        filters = ds.filter().filters;
        //    }
        //    if ( filters == null) {
        //        filters = [newFilter];
        //        ds.filter(filters);
        //    } else {
        //        var isNew = true;
        //        var index;
        //        for(index = 0; index < filters.length; index++) {
        //            if (filters[index].field == "Riservato") {
        //                isNew = false;
        //                break;
        //            }
        //        }
        //        if ( isNew){
        //            filters.push(newFilter);
        //            ds.filter(filters);
        //        }
        //    }
        //}

        var grid = $("#gridDocumenti").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (j, row) {
            $.each(row.items, function (i, row2) {
                if (row2.DataFineValidita == null)
                    $('tr[data-uid="' + row2.uid + '"] ').css("background-color", "lightgreen");
                else
                    $('tr[data-uid="' + row2.uid + '"] ').css("background-color", "whitesmoke");
            });
        });

        $('[id^=kendoFileUpload_]').kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("FastSave")',
                autoUpload: true
            },
            upload: function (e) {
                e.data = {
                    idFascicolo: this.element[0].id.split("_")[1],
                    idEvento: @Model.IdEvento
                    };
            },
            success: function (e) {
                $('#gridDocumenti').data('kendoGrid').dataSource.read();
                $('#gridDocumenti').data('kendoGrid').refresh();
            },
            error: function(e) {
                alert("Si è verificato un errore imprevisto: " + e.XMLHttpRequest.response);
            },
            showFileList: false,
            localization: {
                select: " Seleziona o trascina qui un file",
                dropFilesHere: "",
                headerStatusUploading: " ",
                headerStatusUploaded: "Completato"
            }
        });

        $(".k-button.k-upload-button").find("span").prepend("<i class='fa fa-dropbox' />");
        collapseAllGrid();
    }

        function collapseAllGrid() {
        $("#gridDocumenti").find(".k-icon.k-i-collapse").trigger("click");
    }

    function onErrorDocumenti(e) {
        if (e.status == "customerror") {
            alert("Questa operazione non è ammessa dal database.");
        } else {
            alert("Errore generico del server.");
        }
        $('#gridDocumenti').data('kendoGrid').dataSource.read();
        $('#gridDocumenti').data('kendoGrid').refresh();
    }

    function prendiInCarico(id) {
        $.ajax(
        {
                url: '/Api/GedApi/PrendiInCarico?id=' + id,
                type: 'GET',
                dataType: 'json',
                success: function (ret) {
                    debugger;
                    if (ret.Ex) {
                        alert("Si è verificato un'errore inaspettato: " + ret.Ex);
                    } else {
                        $('#bPrendi_' + id).addClass("buttonhidden");
                        $('#bRilascia_' + id).removeClass("buttonhidden");
                        $('#utenteInCarico_' + id).html(getNomeUtente(ret.UserId));
                        alert('Operazione completata con successo');
                    }
                },
            error: function(a)
            {
                alert("Si è verificato un errore inaspettato; controlla la tua connessione.");
            }
        });
    }

    function rilascia(id) {
        $.ajax(
            {
                url: '/Api/GedApi/Rilascia?id=' + id,
                type: 'GET',
                dataType: 'json',
                success: function (ret) {
                    if (ret.Ex) {
                        alert("Si è verificato un'errore inaspettato: " + ret.Ex);
                    } else {
                        $('#bPrendi_' + id).removeClass("buttonhidden");
                        $('#bRilascia_' + id).addClass("buttonhidden");
                        $('#utenteInCarico_' + id).html("");

                        alert('Operazione completata con successo');
                    }
                },
                error: function(a)
                {
                    alert("Si è verificato un errore inaspettato; controlla la tua connessione.");
                }
            });
    }
</script>
