﻿@using System.Collections
@using System.Configuration
@using GestioneElettronicaDocumenti.Extensions
@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Kendo.Mvc.UI
@using Service.Models
@model RicercaAvanzataDto

<h2>Ricerca Avanzata Documenti</h2>
@{
    ViewBag.Title = "Ricerca Avanzata Documenti";
    var prefix = ConfigurationManager.AppSettings["ImagePrefix"];
}

@(Html.Kendo().Grid<Documenti>()
    .Name("gridDocumenti")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(m => m.Id(i => i.Id))
        .Read(read => read.Action("_Ajax_Select_RicercaAvanzata", "Documenti", new { idOrganizzazione = Model.IdOrganizzazione, vedeRiservati = Model.VedeRiservati }).Type(HttpVerbs.Get))
        .Events(t => t.Error("onErrorDocumenti"))
        .PageSize(50)
    )
    .Columns(columns =>
    {
        columns.Template(@<text></text>).ClientTemplate("<button class='k-button k-button-icontext' onclick ='apriFile(#=IdAdiuto#, \"#=Nome#\", #=Riservato#, \""+ Model.VedeRiservati + "\", \"" + Model.Gestore + "\", \"" + Url.Action("Scarica", "Documenti") + "\")'><img src='/" + prefix + "/#=IdImmagine#?w=50' /></button>");
        columns.Bound(b => b.Nome);
        columns.Bound(b => b.Descrizione);
        columns.ForeignKey(b => b.IdFascicolo, (IEnumerable)ViewData["slFascicoli"], "Value", "Text").Title("Fascicolo");
        columns.Bound(b => b.Chiuso).ClientTemplate(HtmlExtensions.BoundCheckBox("Chiuso"));
        columns.Bound(b => b.DataInserimento).Format("{0:dd/MM/yyyy HH:mm}");
        columns.ForeignKey(b => b.IdUtenteAssegnato, (IEnumerable)ViewData["slUtenti"], "Value", "Text").Title("Utente Assegnato");
        columns.Bound(b => b.NomeEvento).ClientTemplate(HtmlExtensions.BoundTextColumn("NomeEvento")).Title("Evento");
        columns.Bound(b => b.DataEvento).Format("{0:dd/MM/yyyy}");
    })
    .ToolBar(cmds =>
    {
        cmds.Custom().Name("ritornaIndice").Text(" Indice Eventi...").Action("Index", "Home");
        cmds.Custom().Name("filtraUtente").Text(" Filtra i tuoi Documenti").Url("#").HtmlAttributes(new { onclick = "filterUtente()" });
        cmds.Custom().Name("pulisciFiltri").Text(" Elimina ogni filtro").Url("#").HtmlAttributes(new { onclick = "removeFilter()" });
    })
    .Pageable(p => p.Refresh(true).PageSizes(new int[] { 50, 100, 200 }).ButtonCount(5))
    .Editable(t => t.DisplayDeleteConfirmation("Confermi la cancellazione della riga selezionata? L'operazione non sarà reversibile."))
    .Sortable(sorting => sorting.Enabled(true))
    .Filterable(filtering => filtering.Enabled(true))
    .Events(e => e.DataBound("onDataBoundGridDocumenti"))
)
<br /><br />
<script type="text/javascript">
    function onDataBoundGridDocumenti() {
        $(".k-grid-ritornaIndice").find("span").addClass("fa fa-th");
        $(".k-grid-filtraUtente").find("span").addClass("fa fa-filter");
        $(".k-grid-pulisciFiltri").find("span").addClass("fa fa-eraser");
    }

    function onErrorDocumenti(e) {
        if (e.status == "customerror") {
            alert("Questa operazione non è ammessa dal database.");
        } else {
            alert("Errore generico del server.");
        }
        $('#gridDocumenti').data('kendoGrid').dataSource.read();
        $('#gridDocumenti').data('kendoGrid').refresh();
    }

    function apriFile(id, nome, riservato, vedeRiservati, gestore, baseUrl) {
        if (riservato && (vedeRiservati != "True") && (gestore != "True")) {
            alert("Questo documento è riservato.");
        } else {
            window.location.href = baseUrl + "?idAdiuto=" + id + "&nome=" + nome;
        }
    }

    function filterUtente() {
        var ds = $('#gridDocumenti').data('kendoGrid').dataSource;
        var newFilter = { field: "IdUtenteAssegnato", operator: "eq", value: @Model.IdUtente };
        ds.filter(newFilter);
    }

    function removeFilter() {
        var ds = $('#gridDocumenti').data('kendoGrid').dataSource;
        //var newFilter = { field: "IdUtenteAssegnato", operator: "eq", value: @Model.IdUtente };
        ds.filter(null);
    }

</script>
