﻿@using System.Globalization
@using GestioneElettronicaDocumenti.Helpers
@using GestioneElettronicaDocumenti.Viewmodels
@using Kendo.Mvc.UI
@using Service.Models
@model Organizzazioni

<h2>@ViewData["titolo"]</h2>

@using (Html.BeginForm("SaveOrganizzazioni", "Organizzazioni", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", method = "post" }))
{

    ViewBag.Title = ViewData["titolo"];
    var ass = (List<AssOrganizzazioniUtenti>)ViewData["listAssOrganizzazioniUtenti"];
    var cult = CultureInfo.CurrentCulture.ToString();
    if (ViewData["Feed"] != null)
    {
        var feedback = (FeedDto)ViewData["Feed"];
        <div class="@feedback.Classe.GetStringValue() feedTimeout">
            <span>@feedback.Messaggio</span>
        </div>
    }

    <div class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="row">
                <button name="submit" type="submit" value="save" class='btn btn-primary btn-lg' id="bSave">
                    <span class='fa fa-save'></span>
                    Salva
                </button>
                <a href="@Url.Action("Organizzazioni", "Organizzazioni")" class='btn btn-default btn-lg'>
                    <span class='fa fa-remove'></span>
                    Annulla
                </a>
            </div>
            <br />
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Descrizione, new { @class = "col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Descrizione, new { @class = "form-control inputtextarea" })
                    @Html.ValidationMessageFor(model => model.Descrizione)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Attiva Utente</b>
            </div>
            <div class="col-md-2">
                <b>Gestore</b>
            </div>
            <div class="col-md-2">
                <b>Abilita ric. avanzata</b>
            </div>
            <div class="col-md-2">
                <b>Abilita doc. riservati</b>
            </div>
            <div class="col-md-2">
                <b>Valido dal</b>
            </div>
            <div class="col-md-2">
                <b>Valido fino al</b>
            </div>
        </div>
        <br />
        @foreach (var user in (IEnumerable<UtentiAdiuto>)ViewData["listUtentiAdiuto"])
        {
            <div class="form-group">
                <div class="col-md-2">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="ckbAttiva_@user.Id" name="ckbAttiva_@user.Id" checked="@SetCheckAttiva(user.Id, ass)" />
                        <Label for="ckbAttiva_@user.Id">@user.Username</Label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="ckbGestore_@user.Id" name="ckbGestore_@user.Id" checked="@SetCheckGestore(user.Id, ass)" />
                        <Label for="ckbGestore_@user.Id"></Label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="ckbRicercaAvanzata_@user.Id" name="ckbRicercaAvanzata_@user.Id" checked="@SetCheckRicercaAvanzata(user.Id, ass)" />
                        <Label for="ckbRicercaAvanzata_@user.Id"></Label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="ckbVisualizzaRiservati_@user.Id" name="ckbVisualizzaRiservati_@user.Id" checked="@SetCheckVisualizzaRiservati(user.Id, ass)" />
                        <Label for="ckbVisualizzaRiservati_@user.Id"></Label>
                    </div>
                </div>
                <div class="col-md-2">
                    @Html.Kendo().DatePicker().Culture(cult).Value(GetDataDa(user.Id, ass)).Format("dd/MM/yyyy").Name("dvda_" + user.Id).HtmlAttributes(new { id = "dvda_" + user.Id, @type = "" })
                </div>
                <div class="col-md-2">
                    @Html.Kendo().DatePicker().Culture(cult).Value(GetDataA(user.Id, ass)).Format("dd/MM/yyyy").Name("dva_" + user.Id).HtmlAttributes(new { id = "dva_" + user.Id, @type = "" })
                </div>
            </div>
        }
    </div>
    <br />
    <br />
    <br />
    <br />
}

@functions
{
    private bool SetCheckAttiva(int id, List<AssOrganizzazioniUtenti> ass)
    {
        if (ass.Any(t => t.IdUtente == id))
            return true;
        return false;
    }

    private bool SetCheckGestore(int id, List<AssOrganizzazioniUtenti> ass)
    {
        if (ass.Any(t => t.IdUtente == id))
            return ass.First(t => t.IdUtente == id).Gestore;
        return false;
    }

    private bool SetCheckRicercaAvanzata(int id, List<AssOrganizzazioniUtenti> ass)
    {
        if (ass.Any(t => t.IdUtente == id))
            return ass.First(t => t.IdUtente == id).RicercaAvanzata;
        return false;
    }

    private bool SetCheckVisualizzaRiservati(int id, List<AssOrganizzazioniUtenti> ass)
    {
        if (ass.Any(t => t.IdUtente == id))
            return ass.First(t => t.IdUtente == id).VisualizzaRiservati;
        return false;
    }

    private DateTime GetDataDa(int id, List<AssOrganizzazioniUtenti> ass)
    {
        if (ass.Any(t => t.IdUtente == id))
            return ass.First(t => t.IdUtente == id).DataInizioValidita;
        return DateTime.Now.Date;
    }

    private DateTime GetDataA(int id, List<AssOrganizzazioniUtenti> ass)
    {
        if (ass.Any(t => t.IdUtente == id))
            return ass.First(t => t.IdUtente == id).DataFineValidita;
        return DateTime.MaxValue.Date;
    }
}
