﻿@using Newtonsoft.Json
@using Service.Models
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="@Html.IsSelected(action: "Index")">
                <a href="@Url.Action("Index", "Home")" title="Home"><i class="fa fa-laptop"></i> <span class="nav-label">Home</span> </a>
            </li>
            @if (JsonConvert.DeserializeObject<UtentiAdiuto>(((FormsIdentity)User.Identity).Ticket.UserData).AmministratoreAdiuto == 1)
            {
                <li class="@Html.IsSelected(action: "Minor")">
                    <a href="@Url.Action("Organizzazioni", "Organizzazioni")" title="Gestisci Organizzazioni"><i class="fa fa-group"></i> <span class="nav-label">Gestisci Organizzazioni</span></a>
                </li>
                <li class="@Html.IsSelected(action: "Minor")">
                    <a href="@Url.Action("Icone", "Icone")" title="Gestisci Icone"><i class="fa fa-image"></i> <span class="nav-label">Gestisci Icone</span></a>
                </li>
            }
            @*<li class="@Html.IsSelected(action: "Minor")">
                <a href="@Url.Action("Eventi", "Eventi")" title="Tabella Eventi"><i class="fa fa-calendar"></i> <span class="nav-label">Tabella Eventi</span></a>
            </li>*@
        </ul>
    </div>
</nav>