﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" ><i class="fa fa-bars"></i> </a>
            <div class="NavTitle">
                <h2>ENCI - Gestione Elettronica dei Documenti</h2>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>
